@using Microsoft.Web.Mvc
@using Microsoft.Web.Mvc.Html
@using scoutfjallstugan.se.Controllers
@model IEnumerable<scoutfjallstugan.se.Models.Member>

@{
  ViewBag.Title = "Medlemmar";
}
@{ 
    RouteValueDictionary tRVD = new RouteValueDictionary(ViewContext.RouteData.Values);
    foreach (string key in Request.QueryString.Keys ) 
    { 
        tRVD[key]=Request.QueryString[key];
    }
}
<h2>Medlemmar</h2>

<p>
 @Html.ActionLink("Lägg till ny medlem",    // link text
"Create",                          // action name
"Member",                      // controller name
tRVD,
new Dictionary<string, object> { { "class", "btn" } })
 
  @using (Html.BeginForm("SearchPatrol", "Member", FormMethod.Get, new { @class = "form-inline" }))
  {   
    <p>
      Patrull: @Html.DropDownList("patrols", "Alla")
      Namn: @Html.TextBox("name")
      Visa ledare: @Html.CheckBox("showLeader")
      Visa ej aktiva: @Html.CheckBox("showInactive")
      <input type="submit" value="Sök" class="btn" />
      <div>Sökresultat: @Model.Count() st</div>
    </p>
  }
  
 
  
</p>
<table class="table table-striped table-responsive table-condensed">
  <tr>
    <th style="width:15%">Namn
    </th>
    <th class="hidden-xs">Födelsedat
    </th>
    <th>Patrull
    </th>
    <th style="width:10%" class="hidden-xs">Telefon
    </th>
    <th style="width:10%">Mobil
    </th>
    <th class="hidden-xs">E-post
    </th>
    <th class="hidden-xs">Kommentar
    </th>
    <th></th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Name) @{if(item.IsLeader == true) {@Html.Raw(" (L)")}}
      </td>
      <td class="hidden-xs">
        @Html.DisplayFor(modelItem => item.BirthDate)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.PatrolName)
      </td>
      <td class="hidden-xs">
        @Html.DisplayFor(modelItem => item.Phone)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Mobile)
      </td>
      <td class="hidden-xs">
        @Html.DisplayFor(modelItem => item.Email)
      </td>
      <td class="hidden-xs">
        @Html.DisplayFor(modelItem => item.Comment)
      </td>
      <td>
        <!-- Single button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Ändra/Ta bort <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            @{
              tRVD.Remove("id");
              tRVD.Add("id", item.Id);
            }
            <li>@Html.ActionLink("Ändra", "Edit",  tRVD, new Dictionary<string, object> { { "class", "" } })</li>
            <li> @Html.ActionLink("Visa", "Details",  tRVD, new Dictionary<string, object> { { "class", "" } })</li>
            <li> @Html.ActionLink("Ta bort", "Delete",  tRVD, new Dictionary<string, object> { { "class", "" } })</li>
          </ul>
        </div>
      </td>
    </tr>
  }

</table>
