@model scoutfjallstugan.se.Models.Activity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Activity</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActivityName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActivityName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActivityDateStart)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActivityDateStart)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActivityDateEnd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActivityDateEnd)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OnlyLeaders)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OnlyLeaders)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Responsibility)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Responsibility)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
