@using System.Web.Optimization
@using BootstrapSupport
@model scoutfjallstugan.se.Models.Activity

@{
  ViewBag.Title = "Ändra";
}

<h2>Ändra</h2>

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true)

  <fieldset class="form-horizontal">
    <legend>Aktivitet</legend>

    @Html.HiddenFor(model => model.Id)

    @Html.BeginControlGroupFor(model => model.ActivityName)
    @Html.LabelFor(model => model.ActivityName, new { @class = "control-label" })
    <div class="controls">
      @Html.EditorFor(model => model.ActivityName)
      @Html.ValidationMessageFor(model => model.ActivityName)
    </div>
    @Html.EndControlGroup()

    @Html.BeginControlGroupFor(model => model.ActivityDateStart)
    @Html.LabelFor(model => model.ActivityDateStart, new { @class = "control-label" })
    <div class="controls">
      @Html.EditorFor(model => model.ActivityDateStart) kl @Html.EditorFor(model => model.ActivityDateStartTime)
      @Html.ValidationMessageFor(model => model.ActivityDateStart)
    </div>
    @Html.EndControlGroup()

    @Html.BeginControlGroupFor(model => model.ActivityDateEnd) 
    @Html.LabelFor(model => model.ActivityDateEnd, new { @class = "control-label" })
    <div class="controls">
      @Html.EditorFor(model => model.ActivityDateEnd) kl @Html.EditorFor(model => model.ActivityDateEndTime)
      @Html.ValidationMessageFor(model => model.ActivityDateEnd)
    </div>
    @Html.EndControlGroup()

    @Html.BeginControlGroupFor(model => model.Description)
      @Html.LabelFor(model => model.Description, new { @class = "control-label" })
    <div class="controls">
      @Html.EditorFor(model => model.Description)
      @Html.ValidationMessageFor(model => model.Description)
    </div>
    @Html.EndControlGroup()

    @Html.BeginControlGroupFor(model => model.OnlyLeaders)
      @Html.LabelFor(model => model.OnlyLeaders, new { @class = "control-label" })
    <div class="controls">
      @Html.EditorFor(model => model.OnlyLeaders)
      @Html.ValidationMessageFor(model => model.OnlyLeaders)
    </div>
    @Html.EndControlGroup()

    @Html.BeginControlGroupFor(model => model.Responsibility)
      @Html.LabelFor(model => model.Responsibility, new { @class = "control-label" })
    <div class="controls">
      @Html.EditorFor(model => model.Responsibility)
      @Html.ValidationMessageFor(model => model.Responsibility)
    </div>
    @Html.EndControlGroup()
    <div class="form-actions">
      <input class="btn btn-primary" type="submit" value="Spara" />
       @Html.ActionLink("Avbryt", "Index", null, new { @class = "btn"})
    </div>
  </fieldset>
}



@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
  <script type="text/javascript">
    $('.datepicker').datepicker(); //Initialise any date pickers
  </script>
}
